*{
    margin: 0;
    padding: 0;
}
body{
    background: #ecebd4;
}
html,body{
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    font-size: 22px;
    padding: 16px;
    border-bottom: 1px solid black;
    .mainHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 28%;
        max-width: 900px;
    }
    .scoreBoard{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2em;
        gap: 5px;
        .languageBtns{
            display: flex;
            gap: 10px;
            img{
                width: 50px;
                height: 30px;
                cursor: pointer;
            }
        }
        .score{
            font-size: 2rem;
            font-weight: 700;
        }
    }
}
.mainSection{
    display: flex;
    align-items: center;
    .rightSide{
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5em;
        width: 28%;
        .word{
            display: flex;
            gap: 1.3rem;
            .letter{
                font-size: 3rem;
                align-self: center;
            }
        }
    }
}
.react-simple-keyboard {
    scale: 1.5;
  }

.hangerContainer{
    transform: translateY(-100px);
    .hangerWrapper{
        width: 700px;
        height: 700px;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        .stickBasis{
            background: black;
            width: 200px;
            height: 40px;
        }
        .stickMain{
            background: black;
            height: 500px;
            width: 40px;
            position: absolute;
        }
        .stickTop{
            background: black;
            width: 350px;
            height: 40px;
            position: absolute;
            top: 28%;
            left: 40%;
        }
        .rope{
            background: black;
            width: 10px;
            height: 50px;
            position: absolute;
            top: 33%;
            left: 80%;
        }
        .rope, .manHead, .manBody, .manLeftArm, .manRightArm, .manLeftLeg, .manRightLeg {
            opacity: 0;
            transition: opacity 0.5s;
        }
        .manHead{
            border: 4px solid black;
            border-radius: 50%;
            width: 65px;
            height: 60px;
            position: absolute;
            top: 39.5%;
            left: 75.7%;
        }
        .manBody{
            background: black;
            width: 8px;
            height: 135px;
            position: absolute;
            top: 48.2%;
            left: 80%;
        }
        .manLeftArm{
            background: black;
            height: 8px;
            width: 75px;
            transform: rotate(30deg);
            position: absolute;
            top: 54%;
            left: 80%;
        }
        .manRightArm{
            background: black;
            height: 8px;
            width: 75px;
            transform: rotate(-30deg);
            position: absolute;
            top: 54%;
            left: 71%;
        }
        .manLeftLeg{
            background: black;
            height: 8px;
            width: 100px;
            transform: rotate(60deg);
            position: absolute;
            top: 71.7%;
            left: 77.3%;
        }
        .manRightLeg{
            background: black;
            height: 8px;
            width: 100px;
            transform: rotate(-60deg);
            position: absolute;
            top: 71.7%;
            left: 70.3%;
        }
    }
}

/* Responsive Design */

@media (max-width: 1200px){
    .hangerContainer{
        scale: 0.85;
        margin-left: -10%;
    }
    .mainSection{
        .rightSide{
            margin-top: 20%;
            margin-left: 2%;
        }
    }
    .react-simple-keyboard{
        min-width: 100px;
        scale: 1.7;
    }
}

@media (max-width: 992px){
    .hangerContainer{
        scale: 0.9;
        margin-left: -12%;
    }
    .mainSection{
        .rightSide{
            margin-top: 20%;
            margin-left: -3%;
        }
    }
    .react-simple-keyboard{
        min-width: 100px;
        scale: 1.5;
    }
}

@media (max-width: 768px){
    .hangerContainer{
        scale: 0.7;
        margin-left: -30%;
    }
    .mainSection{
        .rightSide{
            margin-top: 20%;
            margin-left: -10%;
        }
    }
    .react-simple-keyboard{
        min-width: 100px;
        scale: 1.2;
    }
}

@media (max-width: 576px){
    .hangerContainer{
        scale: 0.55;
        margin-top: -30%;
        margin-left: -40%;
    }
    .mainSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 15%;
        .rightSide{
            scale: 1;
            margin-top: -30%;
            margin-left: -13%;
        }
    }
    .react-simple-keyboard{
        min-width: 100px;
        scale: 1.5;
    }
}

@media (max-width: 480px){
    .react-simple-keyboard{
        scale: 1.3;
    }
}